# Server Port configuration
PORT=5000

# MongoDB Connection String (use local fallback or plug in your cloud atlas MongoDB connection URI)
MONGODB_URI=mongodb://localhost:27017/prachi_agro

# Passcode to unlock the admin dashboard
ADMIN_PASSCODE=admin123
